@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 1;
color: white;
   background: linear-gradient(to left ,blue,#5DADE2); 
   padding: 20px;
   padding-top: 30px;
   text-align: center;
   
   
   width: 100%;
   
}
main{
   margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: black;
   
   
    
}
main a{
    margin-top: 15px;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: 0.4s;
    
    
}
main a i{
    position: relative;
    left: 70px;
    top: 60px;
    font-size: 210px ;
    background: transparent;
  
}
.whats{
    color:#239B56;
}
.insta{
    color: #FF33F1;
}
main a:hover{
    
    transform: scale(0.7);
}

    
   

#email{
    position: relative;
    left: 50px;
    top: 50px;
    font-size: 210px ;
    background: transparent;
    color: #003AFF;
}